@page "/CreateGroup"
@using LessonLog.Domain;
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json
@inject IJSRuntime js

<h3>Create</h3>


@inject NavigationManager NavigationManager
@inject HttpClient httpClient



<div class="row">
    <EditForm Model="@group" OnValidSubmit="@InsertAccount">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            GroupNumber: <InputText id="balance" @bind-Value="group.GroupNumber" class="form-control" />
        </div>
        <div class="form-group">
            DirectionNumber: <InputText id="name" @bind-Value="group.DirectionNumber" class="form-control" />
        </div>
        <div class="form-group">
            DirectionName: <InputText id="name" @bind-Value="group.DirectionName" class="form-control" />
        </div>
        <div class="form-group">
            LessonId: <InputText id="name" @bind-Value="LessonId" class="form-control" />
        </div>

        <br />
        <button type="submit" class="btn btn-success">Done</button>
    </EditForm>
</div>

<br />
<br />

@if (responseMessage != null)
{
    <p>@responseMessage</p>
}


@* <a href="/Accounts">Back to List</a> *@
@* *@
@* *@
@code {
    public string LessonId { get; set; }
    private string responseMessage { get; set; }
    private Group group = new Group();

    private async Task InsertAccount()
    {
        group.LessonId = Guid.Parse(LessonId);
        var rs = await httpClient.PostAsJsonAsync($"https://localhost:5001/api/Groups", group);
        responseMessage = await rs.Content.ReadAsStringAsync();
    }

}
