@page "/CreateAttendance"
@using LessonLog.Domain;
@using Microsoft.Extensions.Logging
@using Newtonsoft.Json
@inject IJSRuntime js

<h3>Create</h3>


@inject NavigationManager NavigationManager
@inject HttpClient httpClient



<div class="row">
    <EditForm Model="@attendance" OnValidSubmit="@InsertAccount">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            Status: <InputText id="balance" @bind-Value="attendance.Status" class="form-control" />
        </div>
        <div class="form-group">
            Comming: <InputDate id="name" @bind-Value="attendance.Comming" class="form-control" />
        </div>
        <div class="form-group">
            Leaving: <InputDate id="name" @bind-Value="attendance.Leaving" class="form-control" />
        </div>
        <div class="form-group">
            LessonId: <InputText id="name" @bind-Value="LessonId" class="form-control" />
        </div>

        <br />
        <button type="submit" class="btn btn-success">Done</button>
    </EditForm>
</div>

<br />
<br />

@if (responseMessage != null)
{
    <p>@responseMessage</p>
}


@* <a href="/Accounts">Back to List</a> *@
@* *@
@* *@
@code {
    public string LessonId { get; set; }
    private string responseMessage { get; set; }
    private Attendance attendance = new Attendance();

    private async Task InsertAccount()
    {
        attendance.LessonId = Guid.Parse(LessonId);
        var rs = await httpClient.PostAsJsonAsync($"https://localhost:5001/api/Attendances", attendance);
        responseMessage = await rs.Content.ReadAsStringAsync();
    }

}
